@{
    ViewData["Title"] = "Intervention";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row ">
    <div class="col-sm d-flex justify-content-center align-items-center">
        <h1>Request an intervention</h1>
        <h2 style="margin-top: 40">[IN PROGRESS]</h2>
    </div>
</div>